.App {
  display: grid;
  grid-template-areas: 
    "list selection";
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.packageListContainer {
  grid-area: list;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline-grid;
  height: inherit;
  background-color: #F8F8F8;
}

.packageList {
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
}

.selectedPackage {
  grid-area: selection;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 30px;
  height: calc(100vh - 60px);
  overflow: hidden;
  overflow-y: scroll;
}

ul {
  padding: 0;
  margin: 20px 30px;
  font-size: small;
}

li {
  cursor: pointer;
  padding: 10px;
  color: #676974;
}

h1 {
  font-size: larger;
  margin: 30px 30px 0 30px;
  color: #242730;
}

h2 {
  font-size: larger;
  margin: 0 0 30px 0;
  color: #CF3727;
}

h3 {
  margin-bottom: 10px;
  font-size: medium;
  color: #242730;
}

p {
  font-size: medium;
  color: #242730;
  line-height: 25px;
  width: fit-content;
  float: left;
  margin: 5px 10px 5px 0;
}

.dependency {
  color: #FF5544;
  text-decoration: underline;
  cursor: pointer;
}
